.menuItem {
    height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;
  background: #e9b36c;
  color: black;
  border-radius: .6rem;
  padding: .6rem;
  box-sizing: border-box;
  min-width: 0;
  box-shadow: 5px 5px 5px;
}

.menuItem img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  display: block;
  border-radius: .4rem;
}

.menuItem:hover {
  transform: scale(1.03);
  transition: transform .3s ease-in-out;
  box-shadow: 8px 8px 8px;
}