.welcomeContainer {
    width: 50%;
    height: 80%;
    background-color: rgba(226, 164, 83, 0.95);
    border-radius: 16px;
    padding: 2rem;
    margin: 0 auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;

}


.welcomeTitle {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.welcomeSubtitle {
    margin-bottom: 2rem;
    opacity: 0.85;
}

.categoriesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
    width: 100%;
    overflow-y: auto;

}

.categoriesGrid::-webkit-scrollbar {
    display: none;
}

.categoryCard {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    min-height: 120px;
    color: white;
}

.categoryOverlay {
    width: 100%;
    height: 100%;
    padding: 1rem;
    backdrop-filter: brightness(0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.categoryCard:hover {
    transform: translateY(-4px);
    background: rgba(255, 255, 255, 0.18);
}

.categoryHint {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    opacity: 0.8;
}