#mainContainer {
    background-image: url('./bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.137);
    background-blend-mode: overlay;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appHeader {
    width: 100%;
    height: 5%;
    background-color: rgb(226, 167, 79);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.restaurantTitle {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
}

.categoriesLink {
    text-decoration: none;
    font-size: 1.1rem;
    cursor: pointer;
}

.categoriesLink h3 {
    color: black;
}

.appContent {
    flex: 1;
    width: 100%;
    height: 95%;
    padding: 1.5rem 2rem;
}